//
// Input files with protein sequences

params.fastafiles = 'fasta/*.fasta'

//
// Input file with SWATH isolation windows (optional)

// A tab-separated file with two floating point columns – window's lower and upper offsets.
// When not provided, the isolation windows are retrieved from the first DIA .mzML file.
params.swath_windows_file = null

//
// Building of spectral library

// diaumpire – deconvolute spectra with DIA-Umpire https://diaumpire.nesvilab.org, implies 'params.diafiles'
// dda – use spectra from DDA experiment, implies 'params.ddafiles'
// custom – spectral library from spectral library file, implies 'params.specfile'
params.libgen_method = [ 'diaumpire' ]

params.diaumpireconfig = null  // 'config/diaumpire.params' when null

//
// Experimental DIA spectra (optional)

params.diafiles = null  // 'DIA/*.mzML', it might be set from SDRF ('params.sdrf') as well

//
// Experimental DDA spectra (optional)

params.ddafiles = null  // 'DDA/*.mzXML'

//
// Sequence search

params.search_engines = [ "comet", "xtandem" ]

// Precursor mass tolerance and fragment mass tolerance depend on experimental setup.
// Check the description, the metadata or the paper coming with your DIA/DDA files.
params.precursor_mass_tolerance = null  // ppm
params.fragment_mass_tolerance = null  // Dalton

params.max_missed_cleavages = null  // <= 5 with Comet

params.comet_template = null  // 'config/comet.params' when null
params.xtandem_template = null  // 'config/xtandem.xml' when null

//
// Input SDRF metadata file (optional)

// Overrides 'params.diafiles', 'params.precursor_mass_tolerance' and 'params.fragment_mass_tolerance'
params.sdrf = null

//
// Mayu

// Maximum allowed mFDR
params.protFDR = 0.01  // 0.0-1.0

//
// Input internal retention time (optional)

params.use_irt = false
params.irt_traml_file = null  // .TraML

//
// Input spectral library (optional)

params.speclib = null  // .tsv, .mrm, .pqp or .TraML, the column names need to follow https://openswath.org/en/latest/docs/generic.html

//
// OpenSWATH

params.openswath_transitions = ""

// Minimum transitions decoys fraction (for transitions decoys generator)
params.oswdg_min_decoy_fraction = null  // 0.0-1.0 or null for auto

params.osw_extra_flags = ""

//
// PyProphet

params.pyprophet_subsample_ratio = null  // 0.0-1.0 or null for 1 / {sample count}
params.pyprophet_fixed_seed = true
params.pyprophet_use_legacy = false

//
// Feature alignment (TRIC)

params.tric_target_fdr = 0.01
params.tric_max_fdr = 0.05
params.no_realignment = false
params.feature_alignment_args = ""

//
// Protein and peptide matrices

params.swath2stats_strict_checking = true

//
// Resuming interrupted NextFlow runs

process.cache = 'lenient'

//
// Results location

params.outdir = "./results"

//
// Resources

params.memory_ceiling = '16 GB'  // intended peak memory usage, currently respeced only by the DIA-Umpire step
