process {
    beforeScript = "source <(guix time-machine -C $projectDir/containers/guix/gladiator-guix-channels.scm -- shell --search-paths -m $projectDir/containers/guix/manifests/gladiator.scm -m $projectDir/containers/guix/manifests/nextflow-trace.scm)"

    withName: 'pyprophet_.*' {
        beforeScript = "source <(guix time-machine -C $projectDir/containers/guix/gladiator-guix-channels.scm -- shell --search-paths -m $projectDir/containers/guix/manifests/pyprophet.scm -m $projectDir/containers/guix/manifests/nextflow-trace.scm)"
    }

    withName: pyprophet_legacy {
        beforeScript = "source <(guix time-machine -C $projectDir/containers/guix/pyprophet-legacy-channels.scm -- shell --search-paths -m $projectDir/containers/guix/manifests/pyprophet-legacy.scm -m $projectDir/containers/guix/manifests/nextflow-trace.scm)"
    }
}
