singularity.enabled = true

process {
    container = 'file://containers/dist/gladiator-guix.simg'

    withName: 'pyprophet_.*' {
       container = 'file://containers/dist/pyprophet.simg'
    }

    withName: pyprophet_legacy {
        container = 'file://containers/dist/pyprophet-legacy.simg'
    }
}

singularity.runOptions = '-B $TMPDIR:/tmp'
singularity.autoMounts = true
